.bxplorer.db
!.vscode/extensions.json
!.vscode/launch.json
!.vscode/settings.json
!.vscode/tasks.json
*$py.class
*.bundle.*
*.cover
*.egg
*.egg-info/
*.launch
*.log
*.manifest
*.mo
*.pid
*.pid.lock
*.pot
*.py[cod]
*.sage.py
*.seed
*.so
*.spec
*.sublime-workspace
*.tgz
*.tsbuildinfo
.DS_Store
.Python
.c9/
.cache
.classpath
.coverage
.coverage.*
.dmypy.json
.eggs/
.env
.eslintcache
.grunt
.hypothesis/
.idea
.installed.cfg
.ipynb_checkpoints
.lock-wscript
.mr.developer.cfg
.mypy_cache/
.next
.node_repl_history
.nox/
.npm
.nyc_output
.project
.pydevproject
.pyre/
.pytest_cache/
.python-version
.ropeproject
.sass-cache
.scrapy
.settings/
.spyderproject
.spyproject
.stylelintcache
.tox/
.vscode/*
.yarn-integrity
/dist
/out-tsc
/site
/tmp
MANIFEST
Thumbs.db
__pycache__/
bower_components
build/
celerybeat-schedule
connect.lock
coverage
coverage.xml
develop-eggs/
dist/
dmypy.json
docs/_build/
downloads/
eggs/
htmlcov/
jspm_packages/
jupyterlab_bxplorer/_version.py
jupyterlab_bxplorer/labextension
lerna-debug.log
lib-cov
lib/
lib64/
logs
node_modules/
nosetests.xml
npm-debug.log*
parts/
pids
pip-delete-this-directory.txt
pip-log.txt
pip-wheel-metadata/
sdist/
share/python-wheels/
target/
typings
ui-tests/playwright-report/
ui-tests/test-results/
var/
wheels/
yarn-debug.log*
yarn-error.log*
.bxplorer_favorites.db
package-lock.json
yarn.lock
